<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <form name="vehicle-form" (ngSubmit)="getReadings()" #userForm="ngForm">
      <div class="form-group">
        <select id="readingType" #vehicleReadingType="ngModel" required class="form-control" [(ngModel)]="readingType"
                name="readingType">
          <option>Select Reading</option>
          <option value = "fuelVolume">Fuel Volume</option>
          <option value = "speed">Speed</option>
          <option value = "engineHp">Engine Hp</option>
          <option value = "checkEngineLightOn">Check Engine Light</option>
          <option value = "engineCoolantLow">Check Engine Coolant</option>
          <option value = "cruiseControlOn">Is Cruise Control On</option>
          <option value = "engineRpm">Engine RPM</option>
          <option value = "tires">Tire Pressure</option>
        </select>


        <!--<input type="text" #userLastName="ngModel" required minlength="4" [(ngModel)]="user.lastName" name="lastName"-->
               <!--class="form-control" id="lastName" placeholder="Enter Last Name">-->
        <!--<div *ngIf="userLastName.errors && (userLastName.dirty || userLastName.touched)" class="error">-->
          <!--<p [hidden]="!userLastName.errors.required">Last Name is required</p>-->
          <!--<p [hidden]="!userLastName.errors.minlength">Last Name must be of 4 or more chars</p>-->
        <!--</div>-->



      </div>
        <div class="form-group">
          <input type="number" #userLastName="ngModel" placeholder="Enter time in minutes" [(ngModel)]="readingTime" name = readingTime>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" >Get Reading</button>
        </div>
      </form>

      <div>
        <button class="btn" (click)="isGeoSelected = true; isAlertSelected = false; isReadingsSelected = false" name = "geoLocations">Get Location</button>
      </div>
      <div>
        <button class="btn" (click)="isGeoSelected = false; isAlertSelected = true; isReadingsSelected = false" name = "alerts">Get Alerts</button>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <app-vehicle-readings *ngIf="isReadingsSelected"></app-vehicle-readings>
      <app-google-maps *ngIf="isGeoSelected"></app-google-maps>
      <app-alert-detail *ngIf="isAlertSelected"></app-alert-detail>
    </div>
  </div>
</div>

