<p>

<table class="table">
  <thead>
  <tr>
    <th>Proirity</th>
    <th>Alert Type</th>
    <th>Alert time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let alert of curAlertPage">
    <td>{{alert.priority}}</td>
    <td>{{alert.type}}</td>
    <td>{{alert.reading.timestamp | date: "medium"}}</td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" *ngFor="let subAlerts of displayedAlerts; let i = index"><a class="page-link" (click)="page(i)">{{i+1}}</a></li>
  </ul>
</nav>
